# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# VSCode
.vscode/

# PyCharm
.idea/

# TensorBoard
logs/tensorboard/

# Checkpoints
models/checkpoints/

# Best model
models/best_model/

# Numpy
*.npy

# Matplotlib
*.png

# OS
.DS_Store
Thumbs.db